h1 {
    text-align: center;
    font-style: italic;
}
#login {
    max-width: fit-content;
    margin-left: auto;
    margin-right : auto;
    border-style :solid;
    padding: 10px;
    border-color: black;
    padding-bottom: 100px;
}
#signUp {
    max-width: fit-content;
    margin-left: auto;
    margin-right : auto;
}